main {
  display: grid;
  flex-direction: column;
  max-width: 100%;
}

header {
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.logo {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: #28352f;
}

.background-image {
  background-image: url("asset/images/header-illsutration-mobile@2x.png");
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}

.desktop-header {
  display: none;
}

.bar {
  height: 40px;
  margin: 7px;
}

.intro,
.who-am-i {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  padding: 0 30px;
  color: #172b4d;
}

.about-me {
  margin: 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.who-am-i {
  color: #36b37f;
}

.i-can-do {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #172b4d;
  text-align: center;
}

.social {
  display: flex;
  height: 100%;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bar:hover {
  background-color: #36b37f;
}

.bar:active {
  background-color: #008552;
}

.collapse-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-works {
  margin: 24px;
}

.works-heading {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #172b4d;
  font-weight: bold;
  margin: 0;
}

.place-holder {
  max-width: 100%;
  display: grid;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: #ebf0ee;
  margin: 24px 24px;
  align-items: flex-end;
}

.post-stories {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.multi-post,
.gain {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #3a4a42;
  margin: 10px;
}

.gain {
  font-size: 24px;
}

.lang {
  display: flex;
  list-style-type: none;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
}

.button {
  text-align: center;
  padding-top: 17px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #36b37f;
  background-color: #ebf0ee;
  height: 32px;
  width: 120px;
  border: none;
  border-radius: 4px;
  flex-wrap: wrap;
}

.project-button {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  background-color: #36b37f;
  border: none;
  border-radius: 4px;
  margin-bottom: 24px;

  /* padding: 17px; */
  height: 32px;
  text-align: center;
}

.about-me-pg {
  margin: 24px 24px;
  background-image: url("asset/images/back-img-about-me.png");
  background-size: cover;
  display: grid;
  padding: 0;
  max-width: 100%;
}

.resume {
  width: 160px;
  align-self: center;
  justify-self: center;
  font-weight: bold;
}

.diff-lang {
  height: 500px;
  max-width: 100%;
  background-color: #ebf0ee;
  display: grid;
  border-radius: 8px;
  margin: 24px 24px;
  flex-wrap: wrap;
}

.center-logo {
  flex-direction: row;
  margin-top: 24px;
  width: 300px;
  display: flex;
  justify-self: center;
}

.languages {
  color: #344563;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}

.diff-lang li {
  background-color: #fff;
  flex-wrap: wrap;
}

form .button {
  height: 60px;
  padding-top: 0;
}

.button:hover {
  background-color: #36b37f;
  color: #ebf0ee;
}

.button:active {
  background-color: #008552;
  transform: translateY(3px);
}

.contact-me {
  background-image: url(asset/images/contact-form-background.png);
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 24px;
}

#contact-form {
  display: grid;
  flex-direction: column;
}

#text,
#email {
  height: 48px;
  width: 95%;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #172b4d;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  margin-bottom: 24px;
}

#more-info {
  height: 200px;
  width: 95%;
  border: 1px solid #d0d9d4;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #172b4d;
  border-radius: 4px;
}

form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-add {
  font-family: Arial, Helvetica, sans-serif;
  color: #42526e;
  font-size: 20px;
  text-align: center;
  margin: 24px;
  justify-self: center;
}

.contact-add a {
  text-decoration: none;
}

footer {
  display: none;
}

.about-me {
 animation-duration: 3s;
 animation-name: slidein;

}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

.contact-me h3{
  color: #172b4d;
  transition-property: color;
  transition-duration: 4s;
  transition-delay: 1s;
}

.contact-me h3:hover {
   color: #36b37f;
}

@media screen and (min-width: 768px) {
  header {
    display: none;
  }

  .background-image {
    background-image: url("asset/images/desktop-background.png");
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;
  }

  .desktop-header {
    display: contents;
  }

  .desktop-header ul {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }

  .desktop-item {
    color: #172b4d;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }

  .i-can-do {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #172b4d;
    text-align: center;
    width: 720px;
    justify-self: center;
  }

  .story-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .about-me-pg {
    background-image: url("asset/images/about-me-desktop.png");
  }

  .lang-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .contact-me {
    background-image: url("asset/images/contact-me-back-desktop.png");
  }

  .contact-me-background {
    display: flex;
  }

  .contact-me-background div {
    width: 40%;
  }

  .contact-me-background form {
    width: 60%;
  }

  .footer {
    display: none;
  }

  footer {
    display: contents;
  }
}

